* {
  color: white;
  padding: 10px;
}
.row {
  display: flex;
}
.col,
.col-2,
.col-3 {
  flex: 1;
  background-color: rgb(23, 161, 115);
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}
